.foto-box {
  position: relative;
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden; /* evita glow no iOS */
  z-index: 0;
}

.foto-box img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 600px;
  border-radius: 18px;
  display: block;
  object-fit: cover;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.foto-box::after,
.foto-box::before {
  --angle: 0deg;
  content: '';
  position: absolute;
  inset: 0;
  background-image: conic-gradient(from var(--angle), transparent 75%, #fff);
  z-index: 1;
  border-radius: inherit;
  animation: 7s spin linear infinite;
}

.foto-box::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.foto-box:hover {
  transform: scale(1.02);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@media (max-width: 500px) {
  .estilo-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Safari/WebKit: desativa animação para evitar travamento */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .foto-box::after,
    .foto-box::before {
      display: none;
    }
  }
}
